@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  font-family: "Press Start 2P", system-ui;
  font-style: normal;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}

footer {
  font-size: 0.75em;
  width: 100%;
  padding: 0;
  margin: 0;
}
